* {
    position: relative;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    appearance: none;
    border: none;
    background: transparent;
    box-sizing: border-box;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    outline: none;
}

button:not(:disabled) {
    cursor: pointer;
}

html {
    position: absolute;
    font-size: 1px;
    user-select: none;
}

body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
    font-size: 16rem;
    position: fixed;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
