html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

html {
    height: 100%;
    width: 100%;
}

body > section {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

body * {
    outline: 1px dotted red;
    padding: 4px;
    margin: 4px;
}
