@font-face {
    font-family: 'Material Symbols';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/samples/hello_world/src/resources/fonts/material-symbols/Material-Symbols.woff2) format('woff2');
}
